/*-------------   Color Variable  --------------*/
:root {
	--hue: 152;
	--first-color: #39a737;
	--title-color: hsl(var(--hue), 4%, 15%);
	--color-white: #fff;
	--white-color: #fbfbfb;
	--first-color-light: #c4c7f5;
	--color-green: #39a737;
	--color-link-hover: var(--color-green);
	--font-medium: 500;
	--dark-color: #0E1026;
	--color-text: rgb(97, 97, 97);
}

//Colors
$white: #ffffff;
$black: #16161a;
$gray:#f7f7fd;

$color-green: #39a737;

//Theme color
$theme-color: var(--first-color);
$theme-color2: #1f2b7b;
$theme-color3: #f27420;
$theme-color4: #ff3500;


// Icon social
$socials : twitter rgb(17, 154, 251),
facebook rgb(9, 126, 236),
youtube rgb(254, 1, 1),
linkedin rgb(10, 102, 194);

// btn and Section color
$btn_bg: var(--first-color);

// Heading color
$heading-color:#425140;
$heading_color2: #080808;


// Body Font
$body-text-color: #6b7894;
$hr-border-color:#eceff8;



// Section Bg
$section_bg1: #454545;


.white-bg {
	background: #ffffff;
}

.gray-bg {
	background: #f5f5f5;
}

$gray-color: #bebebe;
$gray-color-2: #bdbdbd;


// font color
$font_color1: #10285d;
$border_color: #fdcb9e;


// bg
$brand-bg: #f1f4fa;
$testimonial-bg:#f9fafc;



/*-------------Color include--------------*/


/*-- Background color---*/

.gray-bg {
	background: $gray;
}

.white-bg {
	background: $white;
}

.black-bg {
	background: $black;
}

.theme-bg {
	background: $theme-color;
}

.brand-bg {
	background: $brand-bg;
}

.testimonial-bg {
	background: $testimonial-bg;
}


/*--- color------*/
.white-color {
	color: $white;
}

.black-color {
	color: $black;
}

.theme-color {
	color: $theme-color;
}